@import './common.scss';
header {
	.top{
		display: flex;
		padding:24px 12px;
		font-size:16rem;
		.l {
			width:30%;
			img {
				width:64px;
				height:64px;
				border-radius: 50%;
			}
		}
		.r {
			width:10%;
			text-align: right;
			line-height:64px;
		}
		.m {
			flex:1;
			text-align: left;
			height:64px;
			line-height:32px;
			padding-top:6px;
			.sub-title {
				font-size:15rem;
				color:gray;
			}
		}
	}

}
.body {
	width:92%;
	margin:24px auto;
	display: flex;
	.col-3 {
			width:32%;
			padding:10px;
		}
	.col-3:not(:first-of-type) {
			margin-left:2%;
	}
	[class*=col-] {
			border:thin solid #ddd;
		}
	.item {
		
		
		
		.col-2 {
			width:48%;
			padding:10px;
		}
		.col-2:not(:first-of-type) {
			margin-left:4%;
		}
	}
	.item:not(:last-of-type) {
		margin-bottom:12px;
	}
}

.foot {
	.flex {
		margin:24px 0;
		.l {
			width:48%;
			text-align: left;
		}
		.r {
			flex:1;
			text-align: right;
		}
		.input {
			width:56px;
			display: inline-block;
			border:thin solid #ddd;
			min-height: 28px;
			box-sizing: border-box;
			padding-left:6px;
			vertical-align: middle;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			border-right:none;
		}
		#i_a {
			width:32px;
			text-align: center;
			padding:2px 5px;
			display: inline-block;
			box-sizing: border-box;
			min-height: 28px;
			border:thin solid #ddd;
			vertical-align: middle;
			margin-left:0px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
}
.body .sub-item.active {
	border:2px solid green;
}
