$gray:#9c9c9c;
.page-header {
	padding:12px 0;
	width:100%;
	color:$gray;
	background: #f9f9f9;
	border-bottom:thin solid #F1F1F1;
	.col-3 {
		width:33%;
		box-sizing: border-box;
		min-height:2rem;
		text-align: center;
		img {
			width:14px;
			height:14px;
			vertical-align: middle;
			padding-right:5px;
		}
	}
	.col-3:not(:last-of-type) {
		border-right:thin solid $gray;
	}
}
.timeTip {
	margin:16px 0 16px 0;
	color:#A9A9A9;
}
.time {
	margin:10px 0 20px 0;
	.timeBor {
		margin-right:10px;
		padding:6px;
		font-size:16rem;
		border:thin solid $gray;
		border-radius: 5px;
	}
}

.page-body {
	width:96%;
	margin:0 auto;
	.search {
		font-size:18rem;
		margin-bottom: 16px;
		.s {
			display: inline-block;
			vertical-align: middle;
			border:thin solid $gray;
			height: 32px;
		}
		#searchInput {
			font-size:18rem;
			width:70%;
			padding-left:5px;
			border-right:none;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		#searchBtn {
			width:28%;
			height: 30px;
			line-height:30px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	.items {
		margin:20px 0;
		overflow:hidden;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.item {
			width:48%;
			border-bottom:thin solid #DEDEDE;
			margin-bottom:20px;
			position: relative;
			top:0;
			left:0;
			img {
				min-height:165px;
			}
			.ab {
				z-index:100;
				.top-left {
					position: absolute;
					top:0;
					left:0;
					padding:12px;
					background: rgba(0,0,0,.4);
					color:#fff;
				}
				.bot-right {
					position: absolute;
					bottom:12px;
					right:12px;
					z-index:999;
					display: inline-block;
					width:50px;
					line-height:50px;
					border-radius:50%;
					color:#883BDF;
					background: #fff;
					font-size:16rem;
					font-weight: bold;
					border:2px solid #883BDF;
				}
			}
		}
		.m {
			margin-left:6px;
			float:right;
		}
		.text-left {
			margin:6px 4px;
		}
	}
}

.more {
	margin:20px auto;
}

.footer {
	font-weight: bold;
	.body {
		font-size:16px;
		text-align: left;
	}
	.promises {
		color:#27B266;
		margin:20px 0;
	}
	.address {
		color:#207AB8;
		margin:20px 0;
	}
	.tel {
		color:#692D98;
		margin:20px 0;
	}
	.imgs .i {
		margin-bottom: 10px
	}
}
.title {
	vertical-align: middle;
	font-size:18rem;
	text-align: left;
	background: #F9F9F9;
	border:thin dashed #e3e3e3;
	padding:6px;
	img {
		width:20px;
		vertical-align: middle;
		padding-right:3px;
	}
}
.p_ac {
	font-size:14px;
	color:#000;
	margin-top:12px;
}
