* {
  padding:0;
  margin:0;
}
html,body {
	width:100%;
	height: 100%;
	font:10rem 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
  -webkit-text-size-adjust: none;
}

img {
  width:100%;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #f00;  
}  

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color:#000;
}
a:-webkit-any-link  {
	color:#000;
}
input,
button {
  border:none;
  font-size:0.7rem;
  display: inline-block;
}
::placeholder {
  color:#aaa;
}
input:focus {
    outline: none;
 }
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

.flex {
  display: flex;
  justify-content: center;
}
.text-left {
  text-align: left;
}

.route {
  animation: opa 0.3s ease-in-out;
  transform-origin: 0% 0%;
}
@keyframes opa {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


